.col-3 {
    background-color: rgb(5,72,71);
    height: 100vh;
}

.col-9 {
    background-color: rgb(5,72,71);
}

.call {
    width: 70%;
    font-size: 13px;
    color: white;
}

.btn {
    width: 100%;
    font-size: 12px;
    height: 30px;
}

.table {
    border-bottom: transparent !important;
}

td {
    padding-top: 5% !important;
}

#video-wrapper {
	text-align: center;
    background-color: #343434;
}

#remote-video {
	height: 99vh;
}

#local-video {
    position: absolute;
    right: 30%;
	bottom: 1rem;
	width: 9vw;
	height: 9vw;
    margin-right: 1%;
	border: 3px solid white;
	border-radius: 4px;
}

#boton {
    z-index: 0;
    background-color: rgba(209, 22, 22, 0.37) !important;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-left: 25%;
    margin-bottom: 3%;
}

#boton2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-left: 8%;
    margin-bottom: 3%;
}

#close {
    border: transparent;
    background-color: transparent !important;
    width: 1%;
}

#full {
    border: transparent;
    background-color: transparent !important;
    width: 1%;
}

#min {
    border: transparent;
    background-color: transparent !important;
    width: 1%;
}

#row-width {
    margin-left: 70%;
}

#col-width {
    max-width: 25%;
}

/*MODAL*/
  
  #dragable_modal {
    position: relative;
  }
  

  
  #staticBackdrop .modal-content {
    /* padding: 20px; */
    height: 400px;
    overflow: hidden;
    resize: both;
    width: 500px;
  }
  
.dragable_touch{
    cursor: move;
}

.modal-header {
    height: 10%;
    background-color: rgb(5,72,71);
}

.div1 {
    height: 20%;
}

.div2 {
    height: 75%;
}

.accordion-item {
    background-color:transparent !important;
}

.accordion-body {
    background-color: transparent;
    text-align: center;
  }
  
.accordion-item {
   --bs-accordion-border-color: transparent;
  }
  
.accordion {
   --bs-accordion-active-bg: transparent;
  }
  
.accordion {
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem transparent;
}

.accordion-button {
    color: white !important;
}

.accordion-button.collapsed {
    background: transparent;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.list-group-item {
    background-color: transparent !important;
    border: none;
}

.call {
    color: white;
    font-size: 16px;
    
}

.callHistory {
    color: white;
    font-size: 25px;
}

.callHistoryDate {
    color: rgb(3, 170, 242);
    font-size: 16px;
}

#InCallBack {
    background-color: rgba(255, 0, 0, 0.336);
    height: 50px;
    border-radius: 30px;
}

#ShowUser {
    background-color: white;
    height: 30px;
    border-radius: 30px;
    margin-top: 7%;
}

.InCallFont {
    color: white;
    font-size: 18px;
}

.InCallFont2 {
    color: white;
    font-size: 18px;
}

.NoCallFont {
    color: white;
    font-size: 16px;
    font-weight: bolder;
}

.showUserFont {
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

#ButtonInCall {
    border-radius: 30px !important;
}

#ButtonUser {
    border-radius: 30px !important;
    background-color: transparent !important;
    border: none;
}

#spinner {
    display: none; 
    z-index: 9999;
}

.btn-disabled {
    background-color: #ffcc00;
}

.button-wrapper {
    cursor: not-allowed;
}

.header {
    background-color: rgb(5,72,71);
    height: 8%;
}

#border {
    border-top: black 1px solid;
}

.headerFont {
    color: white;
    font-size: 30px;
}

.ratingFont {
    color: white;
    font-size: 30px;
    margin-right: 15%;
}

.ratingHistoryFont {
    font-size: 25px;
    margin-right: 5%;
    padding-top: 3%;
}

.col-6 {
    margin-top: 2px;
}

#logout {
    width: 60%;
    margin-left: 20%;
}

#history {
    width: 80%;
    margin-right: 20%;
}

#Closehistory {
    width: 80%;
}

.buttons {
    margin-top: 3%;
}

.rating {
    margin-top: 2%;
}

.justify-content-center {
    width: 50%;
}

.btn-custom {
    background: none;
    border: none;
}

#historyDiv {
    margin-left: 50%;
}

.imgS {
    margin-top: 18%;
}

.imgSHeader {
    margin-top: 25%;
}

.user {
    margin-top: 5%;
    margin-right: 10%;
}

.nav {
    justify-content: center;
    margin-top: 18%;
    margin-left: 2%;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.page-item {
    margin-right: 5px;
}

.page-item.disabled .page-link,
.page-item.active .page-link {
    color: #fff;
    background-color: #0c99f0; /* Color azul claro */
    border-color: #0c99f0; /* Color azul claro */
}

.page-item .page-link {
    color: #0c99f0; /* Color azul claro */
    background-color: #fff;
    border: 1px solid #0c99f0; /* Color azul claro */
    padding: 6px 10px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.page-item .page-link:hover {
    background-color: #0c99f0; /* Color azul claro */
    color: #fff;
    text-decoration: none;
}

#rowHistory {
    text-align: left;
}

.container {
    display: grid;
    margin: 0;
    margin-left: -5%;
    margin-right: -5%;
}

.containerImage {
    position: absolute;
    margin-left: 80%;
    margin-top: 6%;
}

.containerFont {
    margin: 0 !important;
    text-align: left;
}

.info {
    filter: saturate(150%) contrast(80%) brightness(120%) invert(100%) sepia(0%) hue-rotate(180deg);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.info:hover {
    transform: scale(1.3);
}

.cerrar {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.cerrar:hover {
    transform: scale(1.3);
}

#modalInfo {
    height: 400px;
    background-color: rgb(209, 201, 201);
}

#modalInfoHeader {
    height: 50px;
}

.modalInfoFont {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 5%;
}

.headerDiv {
    background-color: white;
    height: 100px;
    border: 1px solid black;
    display: flex;
}

.bodyDiv {
    background-color: white;
    border: 1px solid black;
    margin-top: 5%;
    height: 250px;
}

.divImg {
    width: 15%;
    margin-top: 4%;
    margin-left: 10%;
}

.divFont {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    width: 60%;
    border-right: 1px solid black;
}

.DivPhone {
    align-items: center;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerBodyDiv {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
}

.headerBodyDiv2 {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid gray;
    display: flex;
}

.fontHeaderBody {
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bolder;
    font-size: 20px;
    width: 80%;
    padding-left: 5%;
    color: rgb(11, 171, 22);
}

.imgHeaderBody {
    align-items: center;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBody {
    background-color: rgb(209, 201, 201);
    border: 1px solid gray;
    height: 150px;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.imgHeaderInfoDiv {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 5%;
    padding-left: 3%;
}

.fontHeaderInfoDiv {
    align-items: center;
    width: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
    font-size: 20px;
}

.fontHeaderInfoDiv2 {
    align-items: center;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 8%;
    font-size: 20px;
}

.containerHeader {
    display: flex;
    width: 100%;
}

.fontContainerHeader {
    width: 90%;
    display: flex;
}
